.all_products {
    background-color: #F5F5F5;
    color: #464646;
    padding-top: 7rem;
}

.all_products_header {
	align-items: center;
	display: flex;
	margin: 0 3%;
	padding: 20px 0;
	width: 90%;
}

.all_products_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}

.all_products_items {
	display: grid;
	gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	justify-items: center;
	overflow-y: hidden;
	padding: 1% 3% 3% 3%;
}

.contact {
    margin-top: 0;
}



@media (min-width:451px) and (max-width:768px) {

    .all_products_items {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}



@media (max-width: 450px) {

    .all_products_items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}