.productos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;
}

.title {
    align-items: baseline;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.star_wars__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4rem;
}

.star_wars__link {
    color:#2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}

.star_wars__link:hover, .bi:hover, .card_link:hover {
    color: darkblue;
    text-decoration: underline;
    transform: scale(1.15);
}

.bi {
    background-color: transparent;
    color:#2A7AE4;
    transition: 1s all;
}

.categoria_card {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    width: 15%;
}

.card_img {
    transition: 1s all;
}

.card_img:hover {
    transform: scale(1.45);
}

.car_text {
    font-size: 1rem;
    font-weight: 700;
}

.card_link {
    color:#2A7AE4;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}



@media (min-width:451px) and (max-width:768px) {

    .productos {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem 0rem;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
        width: 90%;
    }

    .bi {
        font-size: 1rem;
    }

    .categoria_card {
        width: 23%;
    }

    .last {
        display: none;
    }

}

@media (max-width: 450px) {
    
    .productos {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem 0rem;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
        width: 90%;
    }

    .bi {
        font-size: 1rem;
    }

    .star_wars__title {
        margin-top: 2.5rem;
    }

    .categoria_card {
        width: 40%;
    }

    .last {
        display: none;
    }
    
}