.banner {
	align-items: flex-start;
    background-image: url(https://raw.githubusercontent.com/PaulaLemStaFe/E-Commerce_OOA/master/assets/imagenes/banner/banner-image.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 10px;
	height: 50%;
	justify-content: center;
    margin: 6.5rem auto 0 auto;
	width: 100%;
}

.banner_section {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    margin: 0 auto;
    max-width: 1920px;
    padding: 1.5rem;
    text-shadow: 2px 2px 2px black;
    width: 80%;
}

.prom {
    color:#FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
    padding-bottom: 1rem;
    padding-top: 4.5rem;
}

.description {
    color:#FFFFFF;
    font-size:1.375rem;
    font-weight: 700;
    margin-top: 1rem;
}

.see_button {
    background-color: #2A7AE4;
    border-radius: 7%;
    cursor: pointer;
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    transition: all 1s;
}

.see_button:hover {
    background-color: inherit;
    box-shadow: 0 0 10px #FFFFFF;
}

.see_link {
    color:#FFFFFF;
    text-decoration: none;
}



@media (min-width:451px) and (max-width:768px) {

    .banner {
        height: 30%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

}



@media (max-width: 450px) {

    .banner {
        height: 25%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

    .prom {
        font-size: 2.5rem;
        margin: auto;
        padding-top: 3rem;
    }

    .description {
        font-size: 1.25rem;
    }

    .see_button {
        font-size: 1.25rem;
        margin: auto 0;
    }

}