.login_button {
    display: none;
}

.all_products {
    background-color: #F5F5F5;
    color: #464646;
    padding-top: 7rem;
}

.all_products_header {
	align-items: center;
	display: flex;
    justify-content: space-between;
	margin: 0 3%;
	padding: 20px 0;
	width: 94%;
}

.all_products_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}

.all_products_button {
    background-color: #2A7AE4;
    border-radius: 10px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: 600;
    padding: 0.6rem 1.6rem;
    text-decoration: none;
    transition: all 1s;
}

.all_products_button:hover {
    background-color: darkblue;
    box-shadow: 2px 2px 18px #2A7AE4;
}

.all_products_items {
	display: grid;
	gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	justify-items: center;
	overflow-y: hidden;
	padding: 1% 3% 3% 3%;
}

.product_item {
    box-shadow: 0px 1px 5px 0px rgb(28 29 4 / 50%);
    display: flex;
	flex-direction: column;
	gap: 0.7rem;
	margin-bottom: 15px;
    padding-bottom: 0.5rem;
}

.item_img {
    display: flex;
}

.img {
    display: flex;
	object-fit: cover;
    padding-bottom: 0.5rem;
    position: inherit;
    width: 100%;
}

.item_title {
	font-size: 1.08rem;
    font-weight: 500;
    padding: 0 0.5rem;
}

.item_price {
	font-size: 1.05rem;
	font-weight: 700;
    padding: 0 0.5rem;
}

.item_footer {
    display: flex;
    justify-content: space-around;
}

.item_link {
    display: none;
}

.item_id {
    font-size: 1.03rem;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
}

.bi {
    background-color: inherit;
    color: lightslategray;
    padding-left: 0.5rem;
    position: inherit;
    font-size: 1.1rem;
}

.bi:hover {
    color: darkblue;
    cursor: pointer;
}

.contact {
    margin-top: 0;
}



@media (min-width:451px) and (max-width:768px) {

    .all_products_items {
		grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item_img {
        height: calc(425px / 1.5);
        width: calc(425px / 1.5);
    }

}



@media (max-width: 450px) {

    .all_products_items {
        grid-template-columns: 1fr 1fr;
    }

    .item_img {
        height: calc(425px / 2.5);
        width: calc(425px / 2.5);
    }
    
}