.all_products {
    background: #e5e5e5;
    color: #464646;
    padding-top: 7rem;
}

.all_products_header {
	align-items: center;
	display: flex;
	margin: 0 3%;
	padding: 20px 0;
	width: 90%;
}

.all_products_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}

.all_products_items {
	display: grid;
	gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	justify-items: center;
	overflow-y: hidden;
	padding: 1% 3% 3% 3%;
}

.product_item {
    display: flex;
	flex-direction: column;
	gap: 0.7rem;
	margin-bottom: 15px;
}

.item_img {
	object-fit: cover;
    padding-bottom: 0.5rem;
	transition: 1s all;
    width: 100%;
}

.item_img:hover {
	transform: scale(1.25);
}

.item_title {
	font-size: 1.1rem;
    font-weight: 500;
}

.item_price {
	font-size: 1.05rem;
	font-weight: 700;
}

.item_link {
    color: #2a7ae4;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1rem;
    text-decoration: none;
	transition: 1s all;
}

.item_link:hover {
    color: darkblue;
    text-decoration: underline;
    transform: scale(1.10);
}

.contact {
    margin-top: 0;
}



@media (min-width:451px) and (max-width:768px) {

    .all_products_items {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}



@media (max-width: 450px) {

    .all_products_items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}